.root {
    -fx-background-color: #424242;
    -fx-text-fill: white;
}

.label, .menu-button .label, .menu-item .label {
    -fx-text-fill: white;
}

.button, .menu-button {
    -fx-background-color: #616161;
    -fx-text-fill: white;
}

.menu-item {
    -fx-background-color: #424242;
    -fx-text-fill: white;
}
